<%= form_for object, url: url, method: :put do |f| %>
    <% if object.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :title_en %>
    <%= f.text_field :title_en %>

    <%= f.label :title_ar %>
    <%= f.text_field :title_ar %>

    <br/>
    <%= f.label :description_en %>
    <%= f.text_area :description_en %>

    <%= f.label :description_ar %>
    <%= f.text_area :description_ar %>

    <br/>
    <%= f.label :keywords_en %>
    <%= f.text_field :keywords_en %>

    <%= f.label :keywords_ar %>
    <%= f.text_field :keywords_ar %>

    <%= f.submit "Save" %>
<% end %>