<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= fields_for "job" do |job| %>
        Title <%= job.text_field :title_en %>
        Title <%= job.text_field :title_ar %>

        Description <%= job.text_area :description_en %>
        Description <%= job.text_area :description_ar %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
