<p class="alert alert-block alert-info hide" id="notice">
	<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
	<%= notice %>
</p>
<div class="box border blue">
	<div class="box-title">
		<h4><i class="fa fa-calendar"></i> Section:</h4>
	</div>
	<div class="box-body">
		 <div class="form-horizontal " action="#">
			<div class="form-group">
				<label class="col-md-3 control-label">Job Title (English)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @job.title_en %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Job Title (Arabic)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @job.title_ar %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Description (English)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @job.description_en %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Description (Arabic)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @job.description_ar %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Candidates</label>
				<div class="col-md-9">
				<% if @job.candidates.any? %>
				  <% @job.candidates.each do |candidate| %>
					  <div>
						<span><%= candidate.name %></span>
						<%= link_to 'Show', job_candidate_url(@job, candidate), :class => "btn btn-default" %>
						<%= link_to 'Destroy', job_candidate_url(@job, candidate), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
					  </div>
				  <% end %>
				<% else %>
					<p>There's no candidates.</p>
				<% end %>
				</div>
			</div>
			<div class="form-group text-center">
				<%= link_to 'Edit', edit_job_path(@job), :class => "btn btn-warning" %> |
				<%= link_to 'Back', jobs_path,:class => "btn btn-primary" %>
			</div>																			
		</div>
	</div>
</div>