<%= render "frontend/common/meta_page_info", page_info: @page_info %>


<section class="Sbreadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">About Us</a></li>
      <li><a href="#"><%= @about_section.title %></a></li>
    </ol>
  </div>
</section>

<section class="innerContainer about">
  <div class="container">
    <div class="padding-50">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= @about_section.image.thumb.url %>" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading"><%= @about_section.title %></h2>
              <p class="text-justify"><%= @about_section.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>