<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @branch.phone %>
</p>

<p>
  <strong>Region:</strong>
  <%= @branch.region %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @branch.lat %>
</p>

<p>
  <strong>long:</strong>
  <%= @branch.long %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch), :class => "btn btn-warning" %> | 
<%= link_to 'Back', branches_path ,:class => "btn btn-primary" %>