<%= form_for @tile_size, class: "form-horizontal form-validate" do |f| %>
  <% if @tile_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile_size.errors.count, "error") %> prohibited this tile_size from being saved:</h2>

      <ul>
      <% @tile_size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box border lite">
      <div class="box-title">
        <h4><i class="fa fa-bars"></i>Size Info</h4>
      </div>
      <div class="box-body center">		
		<div class="form-group clearfix">
			<%= f.label :height, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.number_field :height, class: "form-control" %>
			</div>
		  </div>		
		<div class="form-group clearfix">
			<%= f.label :width, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
			  <%= f.number_field :width, class: "form-control" %>
			</div>
		  </div>
			  
      </div>
    </div>
    <%= f.submit class: "btn btn-primary btn-block" %>
<% end %>