<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @tile_size.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @tile_size.width %>
</p>

<%= link_to 'Edit', edit_tile_size_path(@tile_size) %> |
<%= link_to 'Back', tile_sizes_path %>
