<p class="alert alert-block alert-info hide" id="notice">
	<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
	<%= notice %>
</p>
<div class="box border blue">
	<div class="box-title">
		<h4><i class="fa fa-calendar"></i> Brand:</h4>
	</div>
	<div class="box-body">
		 <div class="form-horizontal " action="#">
			<div class="form-group">
				<label class="col-md-3 control-label">Height</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @tile_size.height %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Width</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @tile_size.width %>" disabled>
				</div>
			</div>
			<div class="form-group text-center">
				<%= link_to 'Edit', edit_tile_size_path(@tile_size), :class => "btn btn-warning" %> |
				<%= link_to 'Back', tile_sizes_path,:class => "btn btn-primary" %>
			</div>																			
		</div>
	</div>
</div>