<% content_for :title, "#{t("title")} - #{t("nav.gallery")}" %>
<section class="Sbreadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="<%= frontend_home_url %>">Homepage</a></li>
      <li><a href="#">Gallery</a></li>
    </ol>
  </div>
</section>
<section class="innerContainer">
  <div class="container">
    <div class="row text-uppercase text-center mtb-50 galleries">
      <% @galleries.each do |gallery| %>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="image-gal">
                <% gallery.photos.each_with_index do |p, i| %>
                    <% if i == 0 %>
                        <a href="<%= p.image.url %>" title="Banana">
                          <img class="img-responsive" src="<%= p.image.url %>">
                        </a>
                    <% else %>
                        <a href="<%= p.image.url %>" title="Banana"></a>
                    <% end %>
                <% end %>
              </div>
              <div class="panel-footer"><%= gallery.title %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>