<% content_for :title, "El Sallab - Sitemap" %>

        <section class="Sbreadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                  <li><a href="<%= frontend_home_url %>">Homepage</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ol>
            </div>
        </section>
        
        <section class="innerContainer about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h2>Site Map</h2></div>
                </div>
              <div class="row">
                <div class="col-sm-6">
                  <h3>Pages</h3>
                    <div class="list-group">
                      <a href="<%= frontend_home_url %>" class="list-group-item">Home Page</a>
                      <a href="#" class="list-group-item">About US</a>
                      <a href="<%= frontend_gallery_url %>" class="list-group-item">Gallery</a>
                      <a href="<%= frontend_news_url %>" class="list-group-item">News</a>
                      <a href="<%= frontend_careers_url %>" class="list-group-item">Careers</a>
                      <a href="<%= frontend_contact_branches_url %>" class="list-group-item">Store Location</a>
                      <a href="<%= frontend_contact_contact_us_url %>" class="list-group-item">Drop us a Line</a>
                    </div>
                </div>
                <div class="col-sm-6">
                  <h3>Products</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Ceramic / Porcelain</a>
                        <a href="#" class="list-group-item">Sanitary Wear</a>
                        <a href="#" class="list-group-item">Mixers</a>
                        <a href="#" class="list-group-item">Bathrooms Furniture</a>
                        <a href="#" class="list-group-item">Accessories</a>
                    </div>
                </div>
              </div>
            </div>
        </section>
        