<% content_for :title, "El Sallab - Sitemap" %>

        <section class="Sbreadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                  <li><a href="<%= frontend_home_url %>"><%= t("nav.home") %></a></li>
                  <li><a href="#">Sitemap</a></li>
                </ol>
            </div>
        </section>
        
        <section class="innerContainer about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h2>Site Map</h2></div>
                </div>
              <div class="row">
                <div class="col-sm-6">
                  <h3>Pages</h3>
                    <div class="list-group">
					  <a href="<%= frontend_home_url %>" class="list-group-item"><%= t("nav.home") %></a>
                      <a href="#" class="list-group-item">About US</a>
					  <a href="<%= frontend_gallery_url %>" class="list-group-item"><%= t("nav.gallery") %></a>
					  <a href="<%= frontend_news_url %>" class="list-group-item"><%= t("nav.news") %></a>
					  <a href="<%= frontend_promotions_url %>" class="list-group-item"><%= t("nav.promotions") %></a>
					  <a href="<%= frontend_projects_url %>" class="list-group-item"><%= t("nav.projects") %></a>
					  <a href="<%= frontend_careers_url %>" class="list-group-item"><%= t("nav.careers") %></a>
					  <a href="<%= frontend_contact_branches_url %>" class="list-group-item"><%= t("nav.branches") %></a>
					  <a href="<%= frontend_contact_contact_us_url %>" class="list-group-item"><%= t("nav.dropline") %></a>
                    </div>
                </div>
                <div class="col-sm-6">
                  <h3><%= t("nav.product") %></h3>
                    <div class="list-group">
					  <% @product_sections.each do |p| %>
						  <a href="<%= frontend_product_sections_url slug: p.slug %>" class="list-group-item"><%= p.title %></a>
					  <% end %>
                    </div>
                </div>
              </div>
            </div>
        </section>
        