<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-block alert-info" id="notice">
			<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
			<p><%= notice %></p>
		</div>

		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-users"></i>Listing Banners</h4>
			</div>
			<div class="box-body">
				<div class="box-body table-responsive">
			<div id="custem-toolbar">
				<div class="btn-toolbar">
					<a href="<%= new_banner_url %>" class="btn btn-success"><i class="fa fa-plus-square"></i> New Contact</a>
				</div>
			</div>
				<table id="newTable" data-search="true" data-toolbar="#custem-toolbar" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-click-to-select="true" data-sort-name="name" data-sort-order="desc" data-pagination="true" cellpadding="0" cellspacing="0" border="0" class="center table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th data-align="center">photo</th>
							<th data-field="name" data-align="center" data-sortable="true">In:</th>
							<th data-field="action1" data-align="center">Show</th>
							<th data-field="action1" data-align="center">Edit</th>
							<th data-field="action1" data-align="center">Destroy</th>
						</tr>
					</thead>
					<tbody>
						<% @banners.each do |banner| %>
						<tr class="gradeX">
							<td><a href="javascript:;" class="nameClickable"><img src="<%= image_url banner.image.url(:thumb) %>" /></a></td>
							<td><%= banner.banner_type %></td>
							<td>
								<%= link_to(raw("Show" +("<i class='fa fa-eye'></i>")), banner, :class => "btn btn-default" %>
							</td>
							<td>
								<%= link_to(raw("Edit" +("<i class='fa fa-pencil'></i>")), edit_banner_path(banner), :class => "btn btn-warning" %>
							</td>
							<td>
								<a class="btn btn-danger tip" href="javascript:;" data-original-title="Remove">
								<i class="fa fa-times"></i></a>
								<%= link_to(raw("Remove" +("<i class='fa fa-times'></i>")), banner, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			</div>
		</div>
	</div>
</div>