<p id="notice"><%= notice %></p>

<h4>upload:</h4>
<div id="uploaderWrapper" class="dropzone" data-name="photo[image]" data-url="<%= seven_gallery.gallery_photos_url(@banner.gallery, script_name: "/admin") %>">
  <p class="dz-message">Select photos</p>
</div>

<p><%= @banner.slogan1 %></p>
<p><%= @banner.slogan2 %></p>
<p><%= @banner.banner_type %></p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
