<div class="row">
	<div class="col-sm-12">
		<p class="alert alert-block alert-info hide" id="notice">
			<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
			<%= notice %>
		</p>
		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-users"></i>Listing Origins</h4>
			</div>
			<div class="box-body">
				<div class="box-body table-responsive">
			<div id="custem-toolbar" class="form-group">
				<div class="btn-toolbar">
					<a href="<%= new_origin_url %>" class="btn btn-success"><i class="fa fa-plus-square"></i> New Origin</a>
				</div>
			</div>
				<table id="newTable" data-search="true" data-toolbar="#custem-toolbar" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-click-to-select="true" data-sort-name="name" data-sort-order="desc" data-pagination="true" cellpadding="0" cellspacing="0" border="0" class="center table table-striped table-bordered table-hover">
					<thead>
						<tr class="text-center">
							<th data-field="title" data-sortable="true">Title</th>
							<th data-field="action1">Show</th>
							<th data-field="action2">Edit</th>
							<th data-field="action3">Destroy</th>
						</tr>
					</thead>
					<tbody>
					<% @origins.each do |origin| %>
						<tr class="gradeX">
							<td><%= origin.title %></td>
							<td>
								<%= link_to origin, :class => "btn btn-default" do %>
								  <i class='fa fa-eye'></i> Show
								<% end %>
							</td>
							<td>
								<%= link_to edit_origin_path(origin), :class => "btn btn-warning" do %>
								  <i class='fa fa-pencil'></i> Edit
								<% end %>
							</td>
							<td>
								<%= link_to origin, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
								  <i class='fa fa-times'></i> Remove
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			</div>
		</div>
	</div>
</div>