<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:meta_description) %>"/>
  <meta name="keywords" content="<%= yield(:meta_keywords) %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application_fe', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if I18n.locale!= :en %>
      <%= stylesheet_link_tag "locale/#{I18n.locale.to_s}" %>
  <% end %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body
<% if I18n.locale!= :en %>
class="rtl"
<% end %>
>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="fb-root"></div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '609528352521818',
            xfbml      : true,
            version    : 'v2.4'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
<header>
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="navbar-brand">
          <a href="<%= frontend_home_url %>">
            <img alt="El-Sallab" src="/assets/img/logo.svg" class="img-responsive" alt="<%= yield(:title) %>">
          </a>
        </h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <li class="<%= is_current?(frontend_home_url) %>">
            <a href="<%= frontend_home_url %>"><%= t("nav.home") %></a>
          </li>
          <li class="dropdown <%= is_current?("about") %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("nav.about") %></a>

            <ul class="dropdown-menu dropdown-menu-left" role="menu">
              <% @about_sections.each do |a| %>
                  <li><a href="<%= frontend_about_section_url slug: a.slug %>"><%= a.title %></a></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown <%= is_current?("product") %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("nav.product") %></a>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
              <% @product_sections.each do |p| %>
                  <li><a href="<%= frontend_product_sections_url slug: p.slug %>"><%= p.title %></a></li>
              <% end %>
            </ul>
          </li>
          <li class="<%= 'active' if is_current?(frontend_gallery_url) %>">
            <a href="<%= frontend_gallery_url %>"><%= t("nav.gallery") %></a></li>
          <li class="<%= 'active' if is_current?(frontend_news_url) %>">
            <a href="<%= frontend_news_url %>"><%= t("nav.news") %></a>
          </li>
          <li class="<%= 'active' if is_current?(frontend_careers_url) %>">
            <a href="<%= frontend_careers_url %>"><%= t("nav.careers") %></a></li>
          <li class="dropdown <%= 'active' if is_current?(frontend_contact_branches_url) or current_page?(frontend_contact_contact_us_url) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("nav.contact") %></a>
            <ul class="dropdown-menu dropdown-menu-left <%= is_current?("contact") %>" role="menu">
              <li><a href="<%= frontend_contact_branches_url %>"><%= t("nav.branches") %></a></li>
              <li><a href="<%= frontend_contact_contact_us_url %>"><%= t("nav.dropline") %></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="<%= frontend_change_locale_path(I18n.locale == :en ? :ar : :en) %>"><%= I18n.locale == :en ? "العربية  ":  "English" %></a>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>

<% if content_for?(:banner_partial) %>
    <%= yield(:banner_partial) %>
<% else %>
    <%= banner_markup banner: @banner %>
<% end %>
<%= yield %>

<footer>
  <div class="container">
    <div class="left">
      <span>© 2015 DEVELOPED BY <a href="#">BRANDINC</a>  -  ALL RIGHTS RESERVED</span>
    </div>
    <div class="right">
      <div class="text-center">
        <a href='<%= frontend_home_url %>'><%= t("nav.home") %></a><span>|</span>
        <a href='<%= frontend_contact_contact_us_url %>'><%= t("nav.contact") %></a><span>|</span>
        <a href='sitemap.html'>Site map</a>

        <div class="social">
          <a href="<%= @general_info.facebook %>" class="facebook"><i class="icon-facebook-with-circle"></i></a>
          <a href="<%= @general_info.twitter %>" class="twitter"><i class="icon-twitter-with-circle"></i></a>
          <a href="<%= @general_info.google_plus %>" class="gplus"><i class="icon-google-with-circle"></i></a>
          <a href="<%= @general_info.instagram %>" class="instagram"><i class="icon-instagram-with-circle"></i></a>
          <a href="<%= @general_info.pinterest %>" class="pinterest"><i class="icon-pinterest-with-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<!-- CUSTOM SCRIPT -->
<%= javascript_include_tag 'application_fe', 'data-turbolinks-track' => true %>
<%= yield :custom_js %>

</body>
</html>