
<h2>Log in</h2>


<div class="box border blue">
	<div class="box-title">
		<h4><i class="fa fa-user"></i> Log in</h4>
	</div>
	<div class="box-body big">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => 'form-horizontal form-validate' }) do |f| %>
			<div class="form-group clearfix">
                <%= f.label :email, class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.email_field :email, class: "form-control",autofocus: true %>
                </div>
            </div>
			<div class="form-group clearfix">
                <%= f.label :password, class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                  <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                </div>
            </div>
			<div class="form-group clearfix">
			  <% if devise_mapping.rememberable? -%>
				<div class="field">
				  <%= f.check_box :remember_me %>
				  <%= f.label :remember_me %>
				</div>
			  <% end -%>
            </div>
		  <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
		<% end %>
	</div>
</div>
<%= render "devise/shared/links" %>