<p class="alert alert-block alert-info hide" id="notice">
	<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
	<%= notice %>
</p>
<div class="box border blue">
	<div class="box-title">
		<h4><i class="fa fa-calendar"></i> Section:</h4>
	</div>
	<div class="box-body">
		 <div class="form-horizontal " action="#">
			<div class="form-group">
				<label class="col-md-3 control-label">Section title (English)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @product_section.title_en %>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Section title (Arabic)</label>
				<div class="col-md-9">
					<input type="text" name="regular" class="form-control" value="<%= @product_section.title_ar %>" disabled>
				</div>
			</div>
			<div class="form-group text-center">
				<%= link_to 'Edit', edit_product_section_path(@product_section), :class => "btn btn-warning" %> |
				<%= link_to 'Back', product_sections_path,:class => "btn btn-primary" %>
			</div>																			
		</div>
	</div>
</div>