<section class="Sbreadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Product Section</a></li>
      <li><a href="#"><%= @product_section.title %></a></li>
    </ol>
  </div>
</section>

<section class="sectionTitle">
  <div class="container">
    <h2 class="text-center"><%= @product_section.title %></h2>
  </div>
</section>

<section class="innerContainer about">
  <div class="container">
    <div class="row productsGrid text-uppercase">
      <div class="col-sm-4 col-md-3">
        <h5 class="red-header">SELECT BY</h5>

        <%= form_tag frontend_product_sections_url, method: "get" do %>
            <div class="filterTitle">SELECT BY ORIGIN</div>
            <%= select_tag(:origin_id, options_from_collection_for_select(Origin.all, :id, :title, selected: params[:origin_id]), prompt: "Select origin", class: "form-control") %>

            <div class="filterTitle">SELECT BY BRAND</div>
            <%= select_tag(:brand_id, options_from_collection_for_select(Brand.all, :id, :title, selected: params[:brand_id]), prompt: "Select brand", class: "form-control") %>

            <div class="filterTitle">SELECT BY TILE SIZE</div>
            <%= select_tag(:tile_size_id, options_from_collection_for_select(TileSize.all, :id, :title, selected: params[:tile_size_id]), prompt: "Select tile size", class: "form-control") %>

            <%= submit_tag("Search", name: nil, class: "pull-right") %>
        <% end %>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="row products">
          <% @products.each do |product| %>
              <div class="col-md-3 col-sm-4 col-xs-6 productItem animated fadeInUp">
                <div class="productContent">
                  <a href="<%= frontend_product_url(product) %>" data-target="#productModal" data-productid="1">
                    <img class="img-responsive center-block" src="<%= product.image.url %>" alt="product name"></a>

                  <div><label>CODE :</label><span><%= product.code %></span></div>
                  <div><label>SIZE :</label><span><%= product.tile_size.title %></span></div>
                </div>
              </div>
          <% end %>
        </div>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

    </div>
  </div>
</div>

<% content_for :custom_js do %>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("body").on("click", "a[data-target=#productModal]", function(ev) {
                ev.preventDefault();
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#productModal .modal-content").load(target, function() {
                    $("#productModal").modal("show");
                });
            });
        })
    </script>
<% end %>