<%= form_for @project_video, :html => {:class => 'form-horizontal form-validate'} do |f| %>
    <% if @project_video.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_video.errors.count, "error") %> prohibited this project_video from being saved:</h2>

          <ul>
            <% @project_video.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="box border primary">
      <div class="box-title">
        <h4><i class="fa fa-money"></i>Videos</h4>
      </div>
      <div class="box-body">
		
		<%= render "projects/project_videos/fields", f: f %>
      </div>
    </div>
    <%= f.submit class: "btn btn-primary btn-block" %>
<% end %>