<% content_for :title, "#{t("title")} - #{t("nav.careers")}" %>
<section class="Sbreadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="<%= frontend_home_url %>">Homepage</a></li>
      <li><a href="#">Careers</a></li>
    </ol>
  </div>
</section>
<%= notice %>
<section class="innerContainer">
  <div class="panel-group" id="careers" role="tablist" aria-multiselectable="true">
    <% @jobs.each do |job| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <div class="container">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#careers" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%= job.title %><br><span>Location: <%= job.location %></span> <i class="icon-caret-right pull-right"></i></a>
              </h4>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body container">
              <%= raw(job.description) %>
              <button type="button" class="btn btn-yellow pull-right" data-url="<%= frontend_careers_candidate_new_url(job) %>" data-target="#carrerModal" data-job_id="<%= job.id %>">Apply
                for this position
              </button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="carrerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


<% content_for :custom_js do %>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("body").on("click", "button[data-target=#carrerModal]", function(ev) {
                ev.preventDefault();
                var target = $(this).data("url");

                // load the url and show modal on success
                $("#carrerModal .modal-content").load(target, function() {
                    $("#carrerModal").modal("show");
                });
            });
            $("body").on("click", ".submit_candidate", function(e) {
                e.preventDefault();
                var form = $(e.target).closest("form");
                form.validate({
                    rules: {
                        'candidate[firstname]': "required",
                        'candidate[email]': {
                            required: true,
                            email: true
                        },
                        'candidate[phone]': {
                            number: true
                        },
                        'candidate[current_salary]': {
                            number: true
                        }
                    }
                });
                if(form.valid()) {
                    form.submit();
                }
            });

        })
    </script>
<% end %>